/*
  Custom css rules for shawnroe.com
  created by... Shawn Roe, of course.
*/

body {
  padding: 15px;
  padding-bottom: 20px;
  background-color: #F90;
  font: normal 16px/27px Helvetica, Verdana, sans-serif;
}

h1 {
	text-align: center;
}

#main-content {
	padding: 0 40px;
}

